.app {

}

.nav {
    background-color: var(--white);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

.nav__btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 15px 20px;
    cursor: pointer;
    transition: all linear 300ms;
    transform: rotate(0deg);
}

.nav__btn:hover {
    transform: rotate(180deg);
}

.nav__btn span {
    font-size: 4rem;
}

.nav__list {
    justify-content: left;
    transition: all linear 320ms;
    height: 0px;
    overflow: hidden;
}

.nav__item {
}

.nav__link {
    font-size: 2rem;
    display: block;
    padding: 15px 20px;
    transition: all linear 300ms;
}
.nav__link:hover {
    background-color: rgba(0, 0, 0, 0.01);
    color: #8cbaf5;
    letter-spacing: 2px;
}

.container {
    transition: all linear 300ms;
}

/* ANALOG */
#analog {
    min-height: 500px;
}

.analog-wrapper {
    
}

.analog {
    --size: 300px;
    height: var(--size);
    width: var(--size);
    border-radius: var(--size);
    background-color: var(--white);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    margin: auto;
    position: relative;
}

.number {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size: 1.8rem;
}
.number--size-l {
    font-size: 2.5rem;
    font-weight: 600;
}

/* DIGITAL */
#digital {
    min-height: 400px;
}

/* COUNTER */
#counter {
    min-height: 400px;
}

/* BTN GO TO TOP */
.btn-go-to-top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    cursor: pointer;
    border: 2px solid #57b9e7;
    border-radius: 10px;
    transition: all linear 200ms;
    animation: zoom linear 2s infinite;
    display: none;
}

.btn-go-to-top.show {
    display: block;
}
.btn-go-to-top span {
    font-size: 4rem;
    
}

.btn-go-to-top:hover {
    background-color: #57b9e7;
}


@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


/* FOOTER */
footer {
    background-color: #57b9e7;
}

footer p {
    text-align: center;
    font-size: 1.8rem;
    padding: 20px 0;
    color: #fff;
}

@media (min-width: 740px) {
    .nav__btn {
        display: none;
    }

    .nav__list {
        display: flex;
        align-items: center;
        flex: 1;
        height: auto!important;
    }

    .nav__link {
        padding: 20px 20px;
    }

    .nav__link:hover {
        letter-spacing: unset;
    }

    .analog {
        --size: 350px;
    }
}